.client-content-wrap {
    max-width: calc(100% - 65px);
    @media #{$xs}{
        max-width: calc(100% - 0px);
        margin-top: 60px;
    }
}

.contact-info-wrap {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.contact-icon {
    width: 50px;
    height: 50px;
    background: #FA4729;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.contact-icon i {
    font-size: 20px;
    color: #fff;
}

.contact-text p {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    color: $text_dark;
}


// Client # 01  

.client-area.pt-100 {
    @media #{$xs} {
        padding-top: 50px;
    }
}

.single-client {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 215px;

    img {
        max-width: inherit;
        width: 150px !important;
        opacity: .5;
    }

    @media #{$lg} {
        margin-left: 0;
        width: inherit;
    }

    @media #{$md} {
        margin-left: 0;
        width: inherit;
    }

    @media #{$xs} {
        margin-left: 0;
        width: inherit;
    }
}

.progress-bar-area{
    @media #{$xs}{
        margin-top: 30px;
    }
}

.client-area .owl-dots {
    display: none;
}

// Clients # 02

.single-client-item {
    border-style: solid;
    border-width: 0px 1px 1px 0px;
    border-color: #D3DCE0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 40px;
    @media #{$xs}{
        padding: 20px 0;
    }
}

.single-client-item:nth-of-type(6){
    border: none;
}


// Clients Page 

.single-client-wrap {
    border: 1px solid #eee;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}


.clients-img-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 50px 0;
}

.clients-img-inner {
    flex: 0 0 185px;
    &:hover img{
        opacity: 1;
    }
}

.clients-img-inner img {
    width: 160px;
    opacity: .2;
}
